{% extends "::base.html.twig" %}
{% block body %}

{% endblock %}
    {% block fos_user_content %}
        <div class="my-register-form">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    {% endblock fos_user_content %}