{% extends '::base.html.twig' %}

{%  block body %}
    <ol>
        <li><a href = "{{ path('category') }}">Edit categories</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>



{% endblock %}