{% extends '::base.html.twig' %}

{%  block body %}
    <ul>
        <li><a href = "{{ path('category') }}">Edit categories</a></li>
        <li><a href = "{{ path('product') }}">Edit products</a></li>
    </ul>



{% endblock %}