.witaj{
    position: relative;
    transform: translateY(+75%);
    alignment: center;
    margin-right: 6pt;
}

.not-a-real-shop{
    position: relative;
    font-size: 14pt;
    margin: 2%;
}


.my-register-form{
    margin-left: 10%;
    margin-right: 10%;
    margin-up: 2%;
    margin-down: 2%;

}

.button {
    color: black;

}
.konrad-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 320px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #3a3f44;
    border: 1px solid #272b30;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}