<div ng-controller="ProductBrowser as C" class="row">
    <div class="col-lg-3">
        <script type="text/ng-template" id="treeRenderer.html">
            <a href="" ng-if="category.podKategorie != ''" ng-click="category.show = !category.show" >{{ category.nazwaKategorii }}</a>
            <a href="" ng-if="category.podKategorie == ''" ng-click="C.getProducts(category.idKategorii)">{{ category.nazwaKategorii }}</a> <!-- tu ma isc reakcja na ostateczna kategorie tj. wyswietlic liste produktow w tej kategorii-->
            <ul ng-if="category.podKategorie" ng-init="upCat=category">
                <li ng-repeat="category in category.podKategorie" ng-include="'treeRenderer.html'" ng-show="upCat.show"></li>
            </ul>

        </script>
        <ul>
            <li ng-repeat="category in C.positions" ng-include="'treeRenderer.html'"></li>
        </ul>
    </div>

    <div class="col-lg-7">
        <table>
            <tr ng-repeat="product in C.products">
                <td><a href="" ng-click="C.productDetails(product.id)" ng-click="">{{ product.nazwa }}</a></td>
            </tr>

        </table>
        <div class="myProduct" ng-if="C.product != null">
            Name: {{ C.product[0].nazwa }}<br>
            Price: {{ C.product[0].cena }} <br><br>
            <img ng-src = "/products/images/{{ C.product[0].picture_path }}"/><br><br>
            Availability: {{ C.product[0].dostepnosc }} <br>
            Description: {{ C.product[0].opis }} <br>
            <div class="btn-group-vertical">
                <a href="#/placeOrder" class="btn btn-default" ng-click="setProduct(C.product[0])">add To Basket</a>
            </div>
        </div>

    </div>
</div>