<div ng-controller="ProductBrowser as C">
    <div class="myProduct" ng-if="C.product != null">
        Name: {{ C.product.nazwa }}<br>
        Price: {{ C.product.cena }} <br><br>
        <img ng-src = "/products/images/{{ C.product[0].picture_path }}"/><br><br>
        Availability: {{ C.product.dostepnosc }} <br>
        Description: {{ C.product.opis }} <br>
        <div class="btn-group-vertical" ng-if="C.user != null">
            <a href="#/placeOrder" class="btn btn-default" ng-click="setProduct(C.product)">add To Basket</a>
        </div>
        <br/>
        <a href ="" class="btn btn-default" ng-click="C.getOpinions()"> Show user opinions</a>

        <div ng-if="C.showOpinions">
            <ul>
                <li ng-repeat="opinion in C.opinions">
                    Reviewed by: {{ opinion.user }}
                    <br>    "{{ opinion.body }}"

                </li>

            </ul>


        </div>

    </div>
</div>